---
layout: default
make-smaller-titles: true
---


<div class="container-fluid index">
    <div class="row">

        <div class="col-md-12 main content-panel">

            <div class="gravatar">
                <img src="{{ site.title_image }}" class="img-circle about-image" height="150" width="150" alt="{{ site.title }}" />
            </div>

            <h1 class="header author-header" itemprop="headline">{{ site.title }}</h1>

            <div class="author-text">
                {{ site.title_description }}
            </div>

            {% include social_links.html %}
          </div>
          <div class="col-md-12 main content-panel">

            <div class="articles">

              <h2>Latest Blog Articles</h2>

              <ul>
                {% for post in site.posts | limit: site.post_limit %}
                  {% unless post.pubdraft %}
                      <li>
                          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                          <small class="hidden-xs">{{ post.date | date: "%B %-d, %Y" }}</small>
                      </li>
                  {% endunless %}
                {% endfor %}

                  <li>

                      <small><i><a href="{{ site.baseurl }}/posts/">more...</a></i></small>
                  </li>
              </ul>

            </div>

        </div>

          <div class="col-md-12 main content-panel">

            <div class="about">

              <h2>About Me</h2>
              I am a C++ enthusiast, currently writing toolchains and standards for heterogeneous systems. My CV is available <a href="CV.pdf">here</a>.

              <br/>
              <br/>

              I am from Edinburgh, Scotland, which is known for its castle, history, and unpredictable weather. I studied Computer Science at the University of St Andrews, graduating with a 1st class BSc (Hons) in 2013.
              <br/>
              <br/>


              I have an unhealthy love of template metaprogramming and the dark corners of C++. This blog is intended to be an outlet for discoveries and musings on C++ and any other tools which interest me.

              <br/>
              <br/>

              I am active in various community areas:

              <ul>
                <li>Specification editor for the HSA Tools and Runtime groups</li>
                <li>Frequent attendee of Edinburgh C++ Meetup</li>
                <li>Gold C++ badge holder on Stack Overflow</li>
              </ul>

	      <section id="cd-timeline" class="cd-container">
		<div class="cd-timeline-block">
		  <div class="cd-timeline-img cd-picture">
                    <img class="cd-timeline-hsa" src="{{site-base}}/assets/HSA.png">
		  </div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>HSA Debugger and v1.1 Specs Released</h2>
				<p>I was the spec editor for the runtime and tools groups, and wrote the profiling APIs. I also ported LLDB to AMD's HSA implementation.</p>
				<span class="cd-date">Jun 2016</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img">
                          <img class="cd-timeline-codeplay" src="{{site-base}}/assets/codeplay.png">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Software Engineer at Codeplay</h2>
				<p>Heterogeneous compiler and debugger work, mostly based on LLVM, Clang and LLDB. Also contributing to various standards bodies.</p>
				<span class="cd-date">July 2013-present</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
                          <img class="cd-timeline-standrews" src="{{site-base}}/assets/University_of_St_Andrews_coat_of_arms.png">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>BSc (Hons) 1st Class</h2>
				<p>Graduated from the University of St Andrews with a 1st class BSc in Computer Science.</p>
				<span class="cd-date">June 2013</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
                          <img class="cd-timeline-eegeo" src="{{site-base}}/assets/eegeo.png">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
			  <h2>Internship at eeGeo</h2>
			  <p>Worked on a 3D maps platform. I used Hadoop to port ordinance survey data for the whole of Britain to the platform, and wrote a Lunar Lander game using the SDK. </p>
			  <span class="cd-date">June-Sept 2012</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
		  <div class="cd-timeline-img cd-location">
                    <img class="cd-timeline-ibm" src="{{site-base}}/assets/IBM.png">
		  </div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Internship at IBM</h2>
				<p>Worked on the build team, implementing a build archival system, setting up automated testing, providing support for the developers.</p>
				<span class="cd-date">June-Sept 2011</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
              </section> <!-- cd-timeline -->
            </div>

          </div>

          <div class="col-md-12 main content-panel">

            <div class="blogs">
              <h2>Other blogs I like</h2>
              <ul>
                <li><a href="https://twitter.com/fenbf">Bartlomiej Filipek</a> &mdash; <a href="http://www.bfilipek.com/">Bartek's coding blog</a></li>
                <li><a href="https://twitter.com/sehurlburt">Stephanie Hurlburt</a> &mdash; <a href="http://stephaniehurlburt.com/blog-archive/">Blog</a></li>
                <li><a href="https://twitter.com/arne_mertz">Arne Mertz</a> &mdash; <a href="http://arne-mertz.de/">Simplify C++</a></li>
                <li><a href="https://twitter.com/foonathan">Jonathan Müller</a> &mdash; <a href="http://foonathan.net/">foonathan::blog()</a></li>
                <li><a href="https://twitter.com/supahvee1234">Vittorio Romeo</a> &mdash; <a href="http://vittorioromeo.info/">Personal website</a></li>
                <li><a href="https://twitter.com/aboywithstories">Filip Roséen</a> &mdash; <a href="http://b.atch.se/">b.atch.se</a></li>
                <li><a href="https://twitter.com/AdiShavit">Adi Shavit</a> &mdash; <a href="https://adishavit.github.io/#blog">Video Cortex</a></li>
                <li><a href="https://twitter.com/lefticus">Jason Turner</a> &mdash; <a href="https://www.youtube.com/playlist?list=PLs3KjaCtOwSZ2tbuV1hx8Xz-rFZTan2J1">C++ Weekly</a></li>


              </ul>
              
            </div>
          </div>
          
    </div>
</div>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="{{ site.baseurl }}/js/timeline.js" type="text/javascript"></script>
